<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/resource/product/toplist.css">
</head>
<body>
<div layout:fragment="content" class="section-prod-list">
    <div class="container">
        <div class="info">
            <h2>-NEW-</h2>
        </div>
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 mt-10">
            <li th:each="product : ${products}" style="list-style-type: none;">
                <a th:href="@{|/product/detail/${product.id}|}">
                    <img class="object-cover object-center" th:src="@{|/gen/${product.thumbnailImg}|}" style="height: 380px; width: 100%; object-fit: cover;" alt="이미지가 존재하지 않습니다.">
                </a>
                <a th:href="@{|/product/detail/${product.id}|}" th:text="${product.title}" style="display: block;  margin-top: 0.5rem; margin-bottom: 0.25rem;"></a>
                <a th:href="@{|/product/detail/${product.id}|}" th:text="${'KRW:'+#numbers.formatInteger(product.price, 3, 'COMMA')}" style="display: block; "></a>
                <a th:href="@{|/product/detail/${product.id}|}" th:text="${product.details}" style="display: block; color: #888; font-size: 14px;"></a>
                <div class="color-images-container" style="margin-top: 0.5rem; display: flex; gap: 4px;">
                    <a th:each="colorImage : ${product.colorImages}" th:href="@{|/product/detail/${product.id}|}">
                        <img th:src="@{|/gen/${colorImage}|}" style="height: 11px; width: 11px;" alt="컬러아이콘">
                    </a>
                </div>
                <a th:href="@{|/product/detail/${product.id}|}">
                    <img th:src="@{|/gen/${product.detailicon}|}" style="margin-top: 0.5rem;" alt="디테일아이콘">
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>