<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/resource/question/qlist.css">
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <div class="info">
        <h2>주문 상세 내역</h2>
    </div>

    <table class="table mt-3">
        <thead>
        <tr>
            <th>주문 번호</th>
            <th>재품명</th>
            <th>수량</th>
            <th>가격</th>
            <th>주문 날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderItem : ${orderItems}">
            <td th:text="${order.orderId}"></td> <!-- 주문 번호 (Order의 orderId) -->
            <td th:text="${orderItem.title}"></td>    <!-- 제품명 -->
            <td th:text="${orderItem.option.size()}"></td> <!-- 수량 (상품 옵션의 수량으로 대체) -->
            <td th:text="${orderItem.price}"></td>    <!-- 가격 -->
            <td th:text="${orderItem.payDate}"></td> <!-- 주문 날짜 -->
        </tr>
        </tbody>
    </table>
</div>
<script>
</script>
</body>
</html>