<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>

    <!-- 폰트 링크 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Malgun+Gothic:wght@400;700&display=swap">

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>

    <!-- 테일윈드 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">

    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- 스타일 시트 -->
    <link href="/resource/common/common.css" rel="stylesheet" type="text/css"/>
</head>

<body class="flex flex-col min-h-screen">
<!-- 헤더 -->
<header>
    <div class="header-container">
        <div class="logo">
            <img src="logo.png" alt="홈페이지 로고"> <!-- 로고 이미지 경로 -->
        </div>
        <div class="nav-links">
            <a sec:authorize="isAnonymous()" th:href="@{/member/login}">LOGIN</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">LOGOUT</a>
            <a sec:authorize="isAnonymous()" href="/member/join">JOIN</a>
            <a href="/member/mypage">MYPAGE</a>
            <a href="/cart">CART</a>
        </div>
    </div>
    <div class="nav-menu">
        <span class="divider">|</span>
        <a href="/category/tops">TOP</a>
        <span class="divider">|</span>
        <a href="/category/outerwear">OUTER</a>
        <span class="divider">|</span>
        <a href="/category/pants">BOTTOM</a>
        <span class="divider">|</span>
        <a href="/category/skirts">DRESS</a>
        <span class="divider">|</span>
        <a href="/category/accessories">BAG&SHOES</a>
        <span class="divider">|</span>
    </div>
    <div class="side-menu">
        <a href="/category/tops">#NEW</a>
        <a href="/category/tops">#BEST</a>
        <a href="/category/tops">#원가세일</a>
        <a href="/category/tops">#장마철 대비☔️</a>
        <a href="/category/tops">#빠른출고🛒</a>
        <a href="/category/tops">#가을 베스트 템</a>
        <a href="/category/tops">#여름 베스트 템</a>
    </div>
</header>

<section class="content flex-1 py-[20px] flex flex-col">
    <!-- Content Start -->
    <th:block layout:fragment="content"></th:block>
    <!-- Content End -->
</section>

<!-- 푸터 -->
<footer class="footer py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">COD 마켓</span>
    </div>
</footer>
</body>
</html>