<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">
<head>
    <!-- 필요한 CSS 및 JS 파일 링크 추가 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- 사용자 정의 스타일 시트 링크 -->
    <link rel="stylesheet" href="/resource/member/mypage.css"> <!-- CSS 파일 경로 설정 -->
</head>
<body>
<div layout:fragment="content" class="container mt-[100px]">
    <div class="info">
        <h2>MYPAGE</h2>
    </div>
    <div class="xans-element- xans-myshop xans-myshop-asyncbenefit">
        <div class="ec-base-box-m typeMember gMessage">
            <div class="information">
                <table class="thumbnail">
                    <tr>
                        <td>
                            <img src="//img.echosting.cafe24.com/skin/base_ko_KR/member/img_member_default.gif" alt=""
                                 class="myshop_benefit_group_image_tag">
                        </td>
                        <td>
                            <span th:text="${member.nickname}"></span>
                            <span>님 저희 쇼핑몰을 이용해 주셔서 감사합니다.</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="ec-base-box typeMember gMessage">
            <div class="information">

            </div>
        </div>
        <!-- 주문 처리 현황을 포함한 새로운 박스 -->
        <div class="ec-base-box2 typeMember gMessage">
            <div class="xans-myshop-orderstate">
                <div class="title">
                    <h3>나의 주문처리 현황 <span class="desc">(최근 <em>3개월</em> 기준)</span></h3>
                </div>
                <div class="state">
                    <ul class="order">
                        <li>
                            <strong>입금전</strong>
                            <a href="/myshop/order/list.html?order_status=shipped_before" class="count">
                                <span id="xans_myshop_orderstate_shppied_before_count">0</span>
                            </a>
                        </li>
                        <li>
                            <strong>배송준비중</strong>
                            <a href="/myshop/order/list.html?order_status=shipped_standby" class="count">
                                <span id="xans_myshop_orderstate_shppied_standby_count">0</span>
                            </a>
                        </li>
                        <li>
                            <strong>배송중</strong>
                            <a href="/myshop/order/list.html?order_status=shipped_begin" class="count">
                                <span id="xans_myshop_orderstate_shppied_begin_count">0</span>
                            </a>
                        </li>
                        <li>
                            <strong>배송완료</strong>
                            <a href="/myshop/order/list.html?order_status=shipped_complate" class="count">
                                <span id="xans_myshop_orderstate_shppied_complate_count">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <!-- 새로운 섹션 추가 -->
    <div class="mt-2.5">
        <!-- 상단 3개 직사각형 -->
        <div class="d-flex justify-content-center mb-2.5">
            <a href="/order/ordercheck" style="text-decoration: none; color: inherit;">
                <div class="border border-gray-300 d-flex flex-column align-items-center justify-content-center text-center p-4" style="width: 238px; height: 265px; margin: 10px;">
                    <img src="https://img.icons8.com/?size=100&id=42424&format=png&color=000000" alt="Icon" style="width: 60px; height: 60px; margin-bottom: 10px;">
                    <div>
                        <h3 class="text-lg font-semibold">Order</h3>
                        <p style="font-size: 13px;">주문 내역 조회</p>
                    </div>
                </div>
            </a>
            <a href="/member/modify" style="text-decoration: none; color: inherit;">
            <div class="border border-gray-300 d-flex flex-column align-items-center justify-content-center text-center p-4" style="width: 238px; height: 265px; margin: 10px;">
                <img src="https://img.icons8.com/?size=100&id=49574&format=png&color=000000" alt="Icon" style="width: 60px; height: 60px; margin-bottom: 10px;">
                <div>
                    <h3 class="text-lg font-semibold">Profile</h3>
                    <p style="font-size: 13px;">회원 정보</p> <!-- 글씨 크기 줄이기 -->
                </div>
            </div>
            </a>
            <a href="/member/coupon" style="text-decoration: none; color: inherit;">
            <div class="border border-gray-300 d-flex flex-column align-items-center justify-content-center text-center p-4" style="width: 238px; height: 265px; margin: 10px;">
                <img src="https://img.icons8.com/?size=100&id=44276&format=png&color=000000" alt="Icon" style="width: 60px; height: 60px; margin-bottom: 10px;">
                <div>
                    <h3 class="text-lg font-semibold">Coupon</h3>
                    <p style="font-size: 13px;">쿠폰</p> <!-- 글씨 크기 줄이기 -->
                </div>
            </div>
            </a>
            <a href="/question/myqlist" style="text-decoration: none; color: inherit;">
            <div class="border border-gray-300 d-flex flex-column align-items-center justify-content-center text-center p-4" style="width: 238px; height: 265px; margin: 10px;">
                <img src="https://img.icons8.com/?size=100&id=jdtMltLdHjiq&format=png&color=000000" alt="Icon" style="width: 60px; height: 60px; margin-bottom: 10px;">
                <div>
                    <h3 class="text-lg font-semibold">Board</h3>
                    <p style="font-size: 13px;">게시물 관리</p> <!-- 글씨 크기 줄이기 -->
                </div>
            </div>
            </a>
        </div>
<!--        &lt;!&ndash; 하단 3개 직사각형 &ndash;&gt;-->
<!--        <div class="d-flex justify-content-center">-->
<!--            <div class="border border-gray-300 d-flex align-items-center justify-content-center text-center p-4" style="width: 238px; height: 265px; margin: 10px;">-->
<!--                <div>-->
<!--                    <h3 class="text-lg font-semibold">Title 4</h3>-->
<!--                    <p>Description for item 4.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="border border-gray-300 d-flex align-items-center justify-content-center text-center p-4" style="width: 238px; height: 265px; margin: 10px;">-->
<!--                <div>-->
<!--                    <h3 class="text-lg font-semibold">Title 5</h3>-->
<!--                    <p>Description for item 5.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="border border-gray-300 d-flex align-items-center justify-content-center text-center p-4" style="width: 238px; height: 265px; margin: 10px;">-->
<!--                <div>-->
<!--                    <h3 class="text-lg font-semibold">Title 6</h3>-->
<!--                    <p>Description for item 6.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>