<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">
<head>
    <!-- 필요한 CSS 및 JS 파일 링크 추가 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- 사용자 정의 스타일 시트 링크 -->
    <link rel="stylesheet" href="/resource/member/mypage.css"> <!-- CSS 파일 경로 설정 -->
</head>
<body>
<div layout:fragment="content" class="container mt-[100px]">
    <div class="info">
        <h2>MYPAGE</h2>
    </div>
    <div class="xans-element- xans-myshop xans-myshop-asyncbenefit">
        <div class="ec-base-box-m typeMember gMessage">
            <div class="information">
                <p class="thumbnail">
                    <img src="//img.echosting.cafe24.com/skin/base_ko_KR/member/img_member_default.gif" alt=""
                         class="myshop_benefit_group_image_tag">
                    <span>저희 쇼핑몰을 이용해 주셔서 감사합니다.</span>
                </p>
            </div>
        </div>
        <div class="ec-base-box typeMember gMessage">
            <div class="information">

            </div>
        </div>
    </div>
</div>
</body>
</html>
