<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">
<head>
  <!-- 필요한 CSS 및 JS 파일 링크 추가 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

  <!-- 사용자 정의 스타일 시트 링크 -->
  <link rel="stylesheet" href="/resource/member/social_join.css"> <!-- CSS 파일 경로 설정 -->
</head>
<body>
<div layout:fragment="content" class="container mt-[100px]">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <div class="card-header">회원가입</div>
        <div class="card-body">
          <form th:action="@{/member/social_join}" th:object="${memberForm2}" method="POST">
            <div class="mb-3">
              <label for="address" class="form-label">주소</label>
              <input type="address" name="address" id="address" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">회원가입</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
