body{
    font-family: 'Calibri', 'sans-serif';
}
.info {
   margin-top: 220px;
    text-align: center;
    margin-bottom: 20px;
}

.info h2 {
    color: #303030;
    font-size: 13px;

}
.table thead th {
    border-bottom: 2px solid #000;
}