.info {
   margin-top: 140px;
    text-align: center; /* 텍스트를 중앙 정렬 */
    margin-bottom: 40px; /* 폼과의 여백 설정 */
}

.info h2 {
    color: #303030; /* 텍스트 색상 설정 */
    font-size: 13px; /* 텍스트 크기 설정 */
    /* 텍스트 굵기 설정 */
}
.social-login-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 간 간격 조정 */
}