.info {
    margin-top: 120px;
    text-align: center; /* 텍스트를 중앙 정렬 */
    margin-bottom: 20px; /* 폼과의 여백 설정 */
}

.info h2 {
    color: #303030; /* 텍스트 색상 설정 */
    font-size: 13px; /* 텍스트 크기 설정 */
}

.ec-base-box-m {
    padding: 20px;
    margin: 0 auto; /* 좌우 중앙 정렬 */
    border: 2px solid #DBD9D9;
    color: #404040;
    margin-bottom: 20px;
    width: 1190px; /* 고정 폭 */
}

.ec-base-box {
    padding: 20px;
    margin: 0 auto; /* 좌우 중앙 정렬 */
    border: 5px solid #e8e8e8;
    color: #404040;
    width: 1190px; /* 고정 폭 */
    height: 90px;
}

.xans-myshop-asyncbenefit {
    margin-bottom: 20px;
    color: #353535;
}

.ec-base-box.typeMember .information {
    display: table;
    table-layout: fixed;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.thumbnail img {
    padding: 10px; /* 이미지 패딩 */
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

