/* 폰트 정의 */
@font-face {
    font-family: 'Calibri';
    src: url('/assets/fonts/CALIBRI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Malgun Gothic';
    src: url('/assets/fonts/MalgunGothic.woff2') format('woff2'),
         url('/assets/fonts/MalgunGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 기본 폰트 패밀리 설정 */
body{
    font-family: 'Calibri', 'sans-serif';
}

/* 맑은 고딕 폰트를 적용할 클래스 */
.malgun-gothic-font {
    font-family: Calibri, sans-serif; /* 맑은 고딕 클래스에 맑은 고딕 폰트 적용 */
}

header {
    background-color: #ffffff; /* 헤더 배경색 흰색 */
    position: fixed; /* 페이지 상단에 고정 */
    top: 0;
    width: 100%; /* 전체 너비 */
    z-index: 1000; /* 다른 콘텐츠 위에 표시 */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* 적당한 패딩 추가 */
    height: 60px;
}

.logo img {
    margin-top: 130px;
    margin-left: 180px;
    width: 250px;
    object-fit: contain;
}

.nav-links {
    margin-top: 120px;
    margin-right: 180px;
}


.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #303030;
    font-size: 13px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-menu {
    margin-top: 70px; /* 헤더 높이만큼 마진 추가 */
    text-align: center;
    margin-bottom: 30px;
}

.nav-menu a {
    font-family: 'Calibri';
    text-decoration: none;
    font-weight: bold; /* 글씨 볼드체로 변경 */
    color: #3F3F3F;
    font-size: 25px; /* 글씨 크기 조정 */
    margin: 0 10px; /* 링크 좌우 마진 추가 */
}

.nav-menu .divider {
    font-family: 'Calibri'; 
    margin-left: 25px; /* 구분선 왼쪽 마진 */
    font-size: 28px; /* 구분선 크기 조정 */
    margin-right: 25px; /* 구분선 오른쪽 마진 */
    color: #404040;
}

.nav-menu a:hover {
    color: #000000; /* hover 시 검정색으로 변경 */
}

.side-menu {
    display: flex; /* flexbox 사용 */
    justify-content: center; /* 가운데 정렬 */
    margin: 10px 0; /* 필요에 따라 마진 조정 */
}

.side-menu a {
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    margin: 0 10px; /* 링크 간격 조정 */
}
/* 페이지 콘텐츠를 헤더 아래로 밀어내기 */
.content {
    padding-top: 70px; /* 헤더 높이만큼 패딩 추가 */
}
.community2 {
    position: relative;
    display: inline-block;
    padding: 0px;
}

.community2 a {
    padding: 0px;
}

.community2 .sub {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    border: 1px solid #e4e4e4;
    background: #fff;
    z-index: 1111;
}

.community2:hover .sub {
    display: block;
}

.community2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.community2 ul li {
    padding: 10px;
    border-bottom: 1px solid #e4e4e4;
}

.community2 ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
}

.community2 ul li a:hover {
    background-color: #f0f0f0;
}